In [4]:
import numpy as np

import pandas as pd

In [5]:
from pandas import Series,DataFrame

In [6]:
# 创建
# Series是一维的数据
s = Series(data = [120,136,128,99],index = ['Math','Python','En','Chinese'])
s

Math       120
Python     136
En         128
Chinese     99
dtype: int64

In [7]:
s.shape

(4,)

In [8]:
v = s.values
v

array([120, 136, 128,  99])

In [9]:
type(v)

numpy.ndarray

In [10]:
s.mean()

120.75

In [11]:
s.max()

136

In [12]:
s.std()

15.903353943953666

In [13]:
s.pow(2)

Math       14400
Python     18496
En         16384
Chinese     9801
dtype: int64

In [14]:
# DataFrame是二维的数据
# excel就非诚相似
# 所有进行数据分析，数据挖掘的工具最基础的结果：行和列，行表示样本，列表示的是属性
df = DataFrame(data = np.random.randint(0,150,size = (10,3)),index = list('abcdefhijk'),columns=['Python','En','Math'])
df

   Python   En  Math
a      92   63    10
b     113  113    85
c     101  117    32
d     141    6    28
e      92    0    30
f      99   86    37
h      27  100    30
i     122   90    79
j      61   14   116
k     119   42     7

In [15]:
df.shape

(10, 3)

In [16]:
v = df.values
v

array([[ 92,  63,  10],
       [113, 113,  85],
       [101, 117,  32],
       [141,   6,  28],
       [ 92,   0,  30],
       [ 99,  86,  37],
       [ 27, 100,  30],
       [122,  90,  79],
       [ 61,  14, 116],
       [119,  42,   7]])

In [17]:
df.mean()

Python    96.7
En        63.1
Math      45.4
dtype: float64

In [18]:
df.max()

Python    141
En        117
Math      116
dtype: int64

In [19]:
df

   Python   En  Math
a      92   63    10
b     113  113    85
c     101  117    32
d     141    6    28
e      92    0    30
f      99   86    37
h      27  100    30
i     122   90    79
j      61   14   116
k     119   42     7

In [20]:
df.mean(axis = 0)

Python    96.7
En        63.1
Math      45.4
dtype: float64

In [21]:
df.mean(axis = 1)

a     55.000000
b    103.666667
c     83.333333
d     58.333333
e     40.666667
f     74.000000
h     52.333333
i     97.000000
j     63.666667
k     56.000000
dtype: float64